<%
  // css.push("homepage") //为此页增加css
  // js.push("homepage") //为此页增加 js
%>

<%include header%>
<%include nav%>

<div class="main blog-page">
Here is blog page num: <%= page%> , 运行时间: <%= RunTime()%>ms
</div>

<%include footer%>
