<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <%- config.site_meta %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9" />
  <title><%= title%></title>
  <%include meta%>
  <%include link%>
</head>
<body>
