<%
  // css.push("homepage") //为此页增加css
  // js.push("homepage") //为此页增加 js
%>

<%include header%>
<%include nav%>

<div class="main homepage">
运行时间: <%= RunTime()%>ms

<form method="post" action="/image/upload">
	<input type="input" name="data" />
	<input type="submit" value="submit" />
</form>
</div>

<%include footer%>
