		</div>
	</div>
</div>

<!-- js -->


<script src="/admin/js/jquery.min.js" type="text/javascript"></script>
<script src="/admin/bs3/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/admin/js/jquery.noty.packaged.min.js" type="text/javascript"></script>

<% if (typeof(js) == "object") { for(var i=0;i<js.length;i++){ %>
	<script src="/admin/js/<%=js[i]%>.js" type="text/javascript"></script>
<% }}%>

<script src="/admin/js/base.js" type="text/javascript"></script>

</body>
</html>
