<%
	// css.push("homepage") //为此页增加css
	// js.push("homepage") //为此页增加 js
%>
<%_menu = "logs"%>
<%include header%>
	
<h3 class="header-text m-top-lg">日志列表</h3>
<%
	breadcrumb.push({name:"日志列表"});
%>
<%include breadcrumb%>
<div class="row">
		<div class="col-md-12">
				<div class="smart-widget">
						<div class="smart-widget-header">
								日志列表
								<span class="smart-widget-option">
										<span class="refresh-icon-animated">
												<i class="fa fa-circle-o-notch fa-spin"></i>
										</span>
								</span>
						</div>
						<div class="smart-widget-inner">
								<div class="smart-widget-body">
										<% if (typeof logs_list != "undefined" && logs_list != null) {%>
										<table class="table">
												<thead>
														<tr>
																<th>简介</th>
																<th>操作人</th>
																<th>类型</th>
																<th style="width:20%">日期</th>
														</tr>
												</thead>
												<tbody>
														<% for (var i = 0; i < logs_list.length; i++) { %>
														<tr>
																<td><%=logs_list[i].description%></td>
																<td><%=logs_list[i].author?logs_list[i].author.username:""%></td>
																<td><%=logs_list[i].type%></td>
																<td><span class="badge badge-info"><%=helper.formatDate(logs_list[i].create_at)%></span></td>
														</tr>
														<%};%>
												</tbody>
										</table>
										<%
											var url = "/admin/logs";
											var counts = logs_count;
										%>
										<%include page-nums%>
										<%}else{%>
										<div>暂无日志</div>
										<%}%>
								</div>
						</div><!-- ./smart-widget-inner -->
				</div><!-- ./smart-widget -->
		</div>
</div>

<%include footer%>
