<%
  // css.push("homepage") //为此页增加css
  // js.push("homepage") //为此页增加 js
%>
<%_menu = "user"%>
<%include header%>

<h3 class="header-text">用户列表 <span class="sub-header">所有用户的信息</span></h3>
<div class="row">
  <div class="col-sm-12">
    <div class="smart-widget">
        <div class="smart-widget-inner">
            sdf
        </div><!-- ./smart-widget-inner -->
    </div>
  </div>
</div>

<%include footer%>
